%h1
  = t('articles.new')

.articles__new
  = form_with model: @article do |form|
    %div
      = form.label :title, t("form.title")
      %br
      = form.text_field :title
      - @article.errors.full_messages_for(:title).each do |message|
        = message
    %div
      = form.label :body, t("form.body")
      %br
      = form.text_area :body
      - @article.errors.full_messages_for(:body).each do |message|
        = message
    %div
      = form.label :language, t("form.language")
      %br
      = form.select :language, selected: I18n.locale.to_s do
        = options_for_select([['pl', 'pl'], ['en', 'en'], ['eo', 'eo']])
    %div
      = form.submit t("form.create") + ' ' + t('form.article')
