%h1
  = @article.title

%p{ style: 'color: gray; margin-top: -30px;' }
  = t('articles.created') + ': ' + @article.created_at.to_s
%p{ style: 'color: gray; margin-top: -30px;' }
  = (t('articles.author') + ': ' + link_to(@article.author.nickname, path_for_user_profile(@article.author))).html_safe
- if @article.author.id == current_user.id
  %a{ style: 'color: red; margin-top: -30px;', id: 'article__delete', href: 'javascript:;', message: t('articles.delete_message') }
    = t('articles.delete')

%p{ style: 'margin-bottom: 50px' }
  = @article.body

= link_to t('articles.list'), articles_path

- content_for :javascript do
  :javascript
    var elem = document.getElementById('article__delete');
    var message = elem.message;

    elem.addEventListener('click', function() {
      if(confirm(message)) {
        $.ajax({
          type: 'DELETE'
        })
      }
    });
