%header.main-header
  .main-header__container
    = link_to :root, class: 'main-header__logo' do
      = image_tag 'logo.png', height: 40

    .main-header__alert-notice-container
      .main-header__alert
        = alert
      .main-header__notice
        = notice

    .main-header__links
      = link_to t("header.articles"), articles_path
      = link_to t("header.forum"), forum_path
      .main-header__dropdown
        .main-header__dropdown-button--icon
          %svg{ width: 32, height: 32, fill: "white", viewBox: "0 0 16 16", style: "width: 32px", preserveAspectRatio: "xMidYMid meet"}
            %path{ d: "M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" }
        .main-header__dropdown-content
          - if current_user.nil?
            = link_to t("header.login"), "/users/sign_in"
          - else
            = link_to t("header.messages"), messages_path
            = link_to t("header.account"), path_for_user_profile(current_user)
            = link_to t("header.users"), users_path()
            = link_to t("header.logout"), destroy_user_session_path, method: :delete
      .main-header__dropdown
        .main-header__dropdown-button
          = t "header.lang"
        .main-header__dropdown-content
          = link_to "Polski", { locale: "pl" }
          = link_to "English", { locale: "en" }
          = link_to "Esperanto", { locale: "eo" }
.main-header-spacer
